<div>
  <span><%= image_tag 'image.png', class: "tops_field" %></span>
  <span><%= link_to "顧客情報"  %></span>
  　　
  <span><%= link_to "予約情報"  %></span>
  　　
  <span><%= link_to "カルテ"  %></span>
  　　
  <span><%= link_to "管理情報"  %></span>
  　　
  <span><%= link_to "会計"  %></span>

</div>
<br>
<table>
<tr>
  <td> <%= image_tag 'veterinarian.png', class: "logo_field" %></td>
  <td> 顧客情報 </td>
  <td><h2>薬剤管理<hr size="100" width="700%" color="#FF3366"></td>

</tr>
<tr>
  <td> <%= image_tag 'veterinary2.png', class: "logo_field" %></td>
  <td> 予約情報 </td>
</tr>
<tr>
  <td><%= image_tag 'medical-history.png', class: "logo_field" %></td>
  <td> 診察カルテ </td>
</tr>
<tr>
  <td> <%= image_tag '24-hours.png', class: "logo_field" %></td>
  <td> 入院管理 </td>
  <td><a href="" class="btn btn--red3">処方薬剤</a></td>
  <td>　　<a href="" class="btn btn--red3">薬剤在庫</a></td>
</tr>
<tr>
  <td> <%= image_tag 'medicine.png', class: "logo_field" %></td>
  <td> 薬剤管理 </td>
</tr>
<tr>
  <td> <%= image_tag 'veterinarian (1).png', class: "logo_field" %></td>
  <td> 会計情報 </td>
</tr>
<tr>
  <td> <%= image_tag 'registration.png', class: "logo_field" %></td>
  <td> DM管理 </td>
</tr>
<tr>
  <td> <%= image_tag 'vaccine (1).png', class: "logo_field" %></td>
  <td> オリジナル辞書登録 </td>
</tr>
<tr>
  <td> <%= image_tag 'image.png', class: "logo_field" %></td>
  <td> メニュー追加 </td>

</tr>

</table>
