<div>
  <span><%= image_tag 'image.png', class: "tops_field" %></span>
  <span><%= link_to "顧客情報", customers_path  %></span>
  　　
  <span><%= link_to "予約情報"  %></span>
  　　
  <span><%= link_to "カルテ"  %></span>
  　　
  <span><%= link_to "管理情報"  %></span>
  　　
  <span><%= link_to "会計"  %></span>

</div>
<br>
<table>
<tr>
  <td> <%= image_tag 'veterinarian.png', class: "logo_field" %></td>
  <td> <%=link_to "顧客情報", customers_path %> </td>
  <td>　　<a href="customers" class="btn btn--pink">顧客情報<br><%= image_tag 'veterinarian.png', class: "logo_field" %></a></td>
  <td>　<a href="" class="btn btn--blue">予約情報<br><%= image_tag 'veterinary2.png', class: "logo_field" %></a></td>
</tr>
<tr>
  <td> <%= image_tag 'veterinary2.png', class: "logo_field" %></td>
  <td> 予約情報 </td>
</tr>
<tr>
  <td><%= image_tag 'medical-history.png', class: "logo_field" %></td>
  <td> 診察カルテ </td>
  <td>　　<a href="" class="btn btn--blue">診察カルテ<br><%= image_tag 'medical-history.png', class: "logo_field" %></a></td>
  <td>　<a href="" class="btn btn--pink">予約情報<br><%= image_tag '24-hours.png', class: "logo_field" %></a></td>
</tr>
<tr>
  <td> <%= image_tag '24-hours.png', class: "logo_field" %></td>
  <td> 入院管理 </td>
</tr>
<tr>
  <td> <%= image_tag 'medicine.png', class: "logo_field" %></td>
  <td> <%=link_to "薬剤管理", medicines_path %> </td>
  <td>　　<a href="medicines" class="btn btn--pink">薬剤管理<br><%= image_tag 'medicine.png', class: "logo_field" %></a></td>
  <td>　<a href="" class="btn btn--blue">会計情報<br><%= image_tag 'veterinarian (1).png', class: "logo_field" %></a></td>
</tr>
<tr>
  <td> <%= image_tag 'veterinarian (1).png', class: "logo_field" %></td>
  <td> 会計情報 </td>
</tr>
<tr>
  <td> <%= image_tag 'registration.png', class: "logo_field" %></td>
  <td> DM管理 </td>
  <td>　　<a href="" class="btn btn--blue">DM管理<br><%= image_tag 'registration.png', class: "logo_field" %></a></td>
  <td>　<a href="" class="btn btn--pink">辞書登録<br><%= image_tag 'vaccine (1).png', class: "logo_field" %></a></td>
</tr>
<tr>
  <td> <%= image_tag 'vaccine (1).png', class: "logo_field" %></td>
  <td> オリジナル辞書登録 </td>
</tr>
<tr>
  <td> <%= image_tag 'image.png', class: "logo_field" %></td>
  <td> メニュー追加 </td>
  <td>　<a href="" class="btn btn--red">メニュー追加</a></td>
</tr>

</table>
