<div>
  <span><%= image_tag 'image.png', class: "tops_field" %></span>
  <span><%= link_to "顧客情報"  %></span>
  　　
  <span><%= link_to "予約情報"  %></span>
  　　
  <span><%= link_to "カルテ"  %></span>
  　　
  <span><%= link_to "管理情報"  %></span>
  　　
  <span><%= link_to "会計"  %></span>

</div>
<br>
<table>
<tr>
  <td> <%= image_tag 'veterinarian.png', class: "logo_field"%></td>
  <td> 顧客情報 </td>
  <td><h2>顧客一覧<hr size="100" width="700%" color="#FF3366"></td>

</tr>
<tr>
  <td> <%= image_tag 'veterinary2.png', class: "logo_field" %></td>
  <td> 予約情報 </td>
  <td> <a href="" class="btn btn--kensaku"></a></td>
  <td>     <a href="" class="btn btn--kensaku2">検索</a></td>
</tr>
<tr>
  <td><%= image_tag 'medical-history.png', class: "logo_field" %></td>
  <td> 診察カルテ</td>
  <br>
  <td>　　　　　　　　カルテ番号</td>
  <td>　　　　飼い主名</td>
  <td>　　　　動物大分類</td>
  <td>　　　　動物小分類</td>
  <td>　　　　名前</td>
  <td>　　　　最終来院日</td>
  <td>　　　　最新A</td>
</tr>

<tr>
  <td> <%= image_tag '24-hours.png', class: "logo_field" %></td>
  <td> 入院管理 </td>
  <td><hr size="10" width="700%" color="#C0C0C0"></td>

</tr>
<tr>
  <td> <%= image_tag 'medicine.png', class: "logo_field" %></td>
  <td> 薬剤管理 </td>
  <td><a href=""class="btn btn--shousai">詳細</a>　　　　　1199</td>
  <td>　　　　田中ヒトシ</td>
  <td>　　　　犬</td>
  <td>　　　　チワワ</td>
  <td>　　　　クマ</td>
  <td>　　　　21/11/15</td>
  <td>　　　　皮膚炎、右後ろに...</td>
</tr>
<tr>
  <td> <%= image_tag 'veterinarian (1).png', class: "logo_field" %></td>
  <td> 会計情報 </td>
  <td><a class="btn btn--shousai">詳細</a>　　　　　1200</td>
  <td>　　　　田中ヒトシ</td>
  <td>　　　　犬</td>
  <td>　　　　トイプードル</td>
  <td>　　　　ケイ</td>
  <td>　　　　21/11/15</td>
  <td>　　　　予防注射、ああああ...</td>
</tr>
<tr>
  <td> <%= image_tag 'registration.png', class: "logo_field" %></td>
  <td> DM管理 </td>
  <td><a class="btn btn--shousai">詳細</a>　　　　　1201</td>
  <td>　　　　鈴木タカシ</td>
  <td>　　　　犬</td>
  <td>　　　　芝犬</td>
  <td>　　　　豆太</td>
  <td>　　　　21/09/09</td>
  <td>　　　　血便、ああああ...</td>
</tr>
<tr>
  <td> <%= image_tag 'vaccine (1).png', class: "logo_field" %></td>
  <td> オリジナル辞書登録 </td>
  <td><a class="btn btn--shousai">詳細</a>　　　　　1202</td>
  <td>　　　　高橋アヤコ</td>
  <td>　　　　犬</td>
  <td>　　　　チワワ</td>
  <td>　　　　ジョージ</td>
  <td>　　　　21/08/25</td>
  <td>　　　　予防注射、ああああ...</td>
</tr>
<tr>
  <td> <%= image_tag 'image.png', class: "logo_field" %></td>
  <td> メニュー追加 </td>
  <td><a class="btn btn--shousai">詳細</a>　　　　　1203</td>
  <td>　　　　佐藤ヨウジ</td>
  <td>　　　　猫</td>
  <td>　　　　アメリカンショートヘア</td>
  <td>　　　　アニー</td>
  <td>　　　　21/08/12</td>
  <td>　　　　血便、ああああ...</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td><a class="btn btn--shousai">詳細</a>　　　　　1204</td>
  <td>　　　　山本ケン</td>
  <td>　　　　犬</td>
  <td>　　　　トイプードル</td>
  <td>　　　　モモ</td>
  <td>　　　　21/11/12</td>
  <td>　　　　予防注射、ああああ...</td>
</tr>

</table>
