<div>
  <span><%= image_tag 'image.png', class: "tops_field" %></span>
  <span><%= link_to "顧客情報"  %></span>
  　　
  <span><%= link_to "予約情報"  %></span>
  　　
  <span><%= link_to "カルテ"  %></span>
  　　
  <span><%= link_to "管理情報"  %></span>
  　　
  <span><%= link_to "会計"  %></span>

</div>
<br>
<table>
<tr>
  <td> <%= image_tag 'veterinarian.png', class: "logo_field"%></td>
  <td> 顧客情報 </td>
  <td><h2>顧客一覧<hr size="100" width="500%" color="#FF3366"></td>

</tr>
<tr>
  <td> <%= image_tag 'veterinary2.png', class: "logo_field" %></td>
  <td> 予約情報 </td>
  <td> <a href="" class="btn btn--kensaku"></a></td>
  <td>     <a href="" class="btn btn--kensaku2">検索</a></td>
</tr>
<tr>
  <td><%= image_tag 'medical-history.png', class: "logo_field" %></td>
  <td> 診察カルテ</td>
  <br>
  <td>　　　　　　　　カルテ番号</td>
  <td>　　　　飼い主名</td>
  <td>　　　　動物大分類</td>
  <td>　　　　動物小分類</td>
  <td>　　　　名前</td>
  <td>　　　　最終来院日</td>
  <td>　　　　最新A</td>

</tr>

<tr>
  <td> <%= image_tag '24-hours.png', class: "logo_field" %></td>
  <td> 入院管理 </td>
  <td><hr size="10" width="500%" color="#C0C0C0"></td>

</tr>
<tr>
  <td> <%= image_tag 'medicine.png', class: "logo_field" %></td>
  <td> 薬剤管理 </td>
</tr>
<tr>
  <td> <%= image_tag 'veterinarian (1).png', class: "logo_field" %></td>
  <td> 会計情報 </td>
</tr>
<tr>
  <td> <%= image_tag 'registration.png', class: "logo_field" %></td>
  <td> DM管理 </td>
</tr>
<tr>
  <td> <%= image_tag 'vaccine (1).png', class: "logo_field" %></td>
  <td> オリジナル辞書登録 </td>
</tr>
<tr>
  <td> <%= image_tag 'image.png', class: "logo_field" %></td>
  <td> メニュー追加 </td>
</tr>

</table>
