<div>
  <span><%= image_tag 'image.png', class: "tops_field" %></span>
  <span><%= link_to "顧客情報"  %></span>
  　　
  <span><%= link_to "予約情報"  %></span>
  　　
  <span><%= link_to "カルテ"  %></span>
  　　
  <span><%= link_to "管理情報"  %></span>
  　　
  <span><%= link_to "会計"  %></span>

</div>
<br>
<table>
<tr>
  <td> <%= image_tag 'veterinarian.png', class: "logo_field"%></td>
  <td> 顧客情報 </td>
  <td> <%= image_tag 'd25c_13_kitami_fig1.jpeg', class: "pu-doru_field"%></td>
  <td> 1299 犬　/　トイプードル<br>田中ケイ<br>飼い主　　：田中ヒトシ<%= image_tag 'telephone_call_26526-300x300.jpeg', class: "phone_field"%><br>3.2kg　　　H23/10/10<br>　　　　　　10歳1ヶ月(オス)</td>
  <td>　　　予防接種歴<br>　　　日時　　仕事内容<br>　　　2021/11/11　　狂犬病<br>　　　2021/4/1　　ヒラリア予防</td>
  <td>最終来院日　　21/11/2<br>次回来院日　　21/11/23<br><%= image_tag 'calendar.png', class: "calendar_field"%></td>
</tr>
<tr>
  <td> <%= image_tag 'veterinary2.png', class: "logo_field" %></td>
  <td> 予約情報 </td>
</tr>
<tr>
  <td><%= image_tag 'medical-history.png', class: "logo_field" %></td>
  <td> 診察カルテ</td>
  <td> 最新A<br><a class="btn btn-border">あああああああああああああああああ</a> </td>

</tr>

<tr>
  <td> <%= image_tag '24-hours.png', class: "logo_field" %></td>
  <td> 入院管理 </td>
</tr>
<tr>
  <td> <%= image_tag 'medicine.png', class: "logo_field" %></td>
  <td> 薬剤管理 </td>
  <td><a href="" class="btn btn--red2">カルテ新規作成</a></td>
  <td>　　<a href="" class="btn btn--blue2">最新カルテ観覧</a></td>

</tr>
<tr>
  <td> <%= image_tag 'veterinarian (1).png', class: "logo_field" %></td>
  <td> 会計情報 </td>
</tr>
<tr>
  <td> <%= image_tag 'registration.png', class: "logo_field" %></td>
  <td> DM管理 </td>
  <td>過去カルテ参照</td>

</tr>
<tr>
  <td> <%= image_tag 'vaccine (1).png', class: "logo_field" %></td>
  <td> オリジナル辞書登録 </td>
  <td><a href="" class="btn btn--blue3">21/08/28</a></td>
  <td>　　<a href="" class="btn btn--blue3">21/07/28</a></td>
  <td>　　<a href="" class="btn btn--blue3">21/07/14</a></td>
  <td>　　<a href="" class="btn btn--blue3">21/07/07</a></td>
  <td>　　<a href="" class="btn btn--blue3">21/05/05</a></td>


</tr>
<tr>
  <td> <%= image_tag 'image.png', class: "logo_field" %></td>
  <td> メニュー追加 </td>
</tr>

</table>
